.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
demo/backend/checkpoints/*.pt
wandb/
wandb/*
*.log
dataset/*
*.jpg
picosam2_env/
picosam2_env/*
checkpoints/*.pt
checkpoints/*.onnx
checkpoints/images
checkpoints/imx_out/
checkpoints/rpk/
checkpoints/*.data